[Desktop Entry]
Name=JustDD
Comment=USB Image Writer for Linux and Windows ISOs
Exec=justdd
Icon=justdd
Terminal=false
Type=Application
Categories=Utility;System;
Keywords=usb;iso;bootable;flash;writer;
StartupWMClass=justdd